<div
  id="cart-drawer-footer"
  class="flex flex-col gap-y-2 px-4 md:px-5 py-4 border-t border-gray-300"
>
  {%- if settings.show_cart_note -%}
    {%- render 'cart-drawer-note' -%}
  {%- endif -%}

  <div class="flex flex-col gap-y-2">
    {%- if cart.cart_level_discount_applications.size > 0 -%}
      <ul class="flex flex-col gap-y-1" role="list" aria-label="{{ 'customer.order.discount' | t }}">
        {%- for discount in cart.cart_level_discount_applications -%}
          <li class="flex flex-row justify-between items-center gap-4">
            <div class="flex gap-2 items-center body-4">
              {%- render 'icon-discount' -%}
              <span>{{ discount.title }}</span>
            </div>

            <span class="body-3 text-nowrap">(-{{ discount.total_allocated_amount | money }})</span>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <div class="flex flex-row justify-between items-center" role="status">
      <div class="h5">{{ 'sections.cart.estimated_total' | t }}</div>
      <span class="h4 font-normal text-nowrap">{{ cart.total_price | money }}</span>
    </div>

    <small class="body-4">
      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
        {{- 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url -}}
      {%- elsif cart.taxes_included -%}
        {{- 'sections.cart.taxes_included_but_shipping_at_checkout' | t -}}
      {%- elsif shop.shipping_policy.body != blank -%}
        {{- 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url -}}
      {%- else -%}
        {{- 'sections.cart.taxes_and_shipping_at_checkout' | t -}}
      {%- endif -%}
    </small>
  </div>

  <div class="flex flex-col gap-y-3">
    <button
      type="submit"
      id="CartDrawer-Checkout"
      class="primary-button big w-full"
      name="checkout"
      form="CartDrawer-Form"
      {% if cart == empty %}
        disabled
      {% endif %}
    >
      {{- 'sections.cart.checkout' | t -}}
    </button>
  </div>
</div>
