{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  assign default_presentation = 'text'
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div
  class="facets-container"
  x-data="
    {
      isOpenFacetsDrawer: false,
      toggleFacetsDrawer: function() {
        this.isOpenFacetsDrawer = !this.isOpenFacetsDrawer;
      },
      init() {
        this.$watch('isOpenFacetsDrawer', (value) => {
          document.body.classList.toggle('overflow-hidden', this.isOpenFacetsDrawer);
        });
      }
    }
  "
>
  <facet-filters-form class="facets">
    <form id="FacetFiltersForm">
      {%- if results.terms -%}
        <input type="hidden" name="q" value="{{ results.terms | escape }}">
        <input type="hidden" name="options[prefix]" value="last">
      {%- endif -%}

      <div class="active-facets-desktop flex flex-col gap-y-5 py-5">
        <div class="w-full flex flex-row justify-between items-center gap-4">
          {%- unless results.filters == empty -%}
            <h2 class="h6" x-on:click="toggleFacetsDrawer">
              {{- 'products.facets.filter_by_label' | t -}}
            </h2>
          {%- endunless -%}

          <facet-remove>
            <a href="{{ results_url }}" class="underline body-4 font-medium">
              <span>{{ 'products.facets.clear_all' | t }}</span>
            </a>
          </facet-remove>
        </div>

        <div class="flex flex-row flex-wrap gap-3">
          {%- for filter in results.filters -%}
            {%- for value in filter.active_values -%}
              <facet-remove>
                <a
                  href="{{ value.url_to_remove }}"
                  class="flex flex-row items-center gap-2 rounded-[20px] px-3 py-1 border border-gray-300 body-4"
                >
                  <span>{{ filter.label | escape }}: {{ value.label | escape }}</span>
                  {%- render 'icon-close-small', class: 'w-3' -%}
                  <span class="sr-only">{{ 'products.facets.clear_filter' | t }}</span>
                </a>
              </facet-remove>
            {%- endfor -%}

            {%- if filter.type == 'price_range' -%}
              {%- assign min = filter.min_value.value -%}
              {%- assign max = filter.max_value.value -%}
              {%- if min != null or max != null -%}
                <facet-remove>
                  <a
                    href="{{ filter.url_to_remove }}"
                    class="flex flex-row items-center gap-2 rounded-[20px] px-3 py-1 border border-gray-300 body-4"
                  >
                    <span>{{ min | default: 0 | money }} - {{ max | default: filter.range_max | money }}</span>
                    {%- render 'icon-close-small' -%}
                    <span class="sr-only">{{ 'products.facets.clear_filter' | t }}</span>
                  </a>
                </facet-remove>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>

      <div
        class="hidden md:!block"
        :class="
          {
            '!block fixed right-0 w-full h-full top-0 z-10 bg-white': isOpenFacetsDrawer,
          }
        "
      >
        <div class="h-full flex flex-col gap-5 justify-between">
          <div class="flex flex-row items-center gap-5  md:hidden">
            <div class="">Filter and Sort</div>
            <button
              type="button"
              x-on:click="toggleFacetsDrawer"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {%- render 'icon-close', class: 'w-8' -%}
            </button>
          </div>

          <div class="flex-1 md-down:overflow-y-auto px-5">
            {%- for filter in results.filters -%}
              {% comment %} image,swatch,text {% endcomment %}
              {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
              {%- assign presentation = filter.presentation | default: default_presentation -%}

              {%- case filter.type -%}
                {%- when 'boolean', 'list' -%}
                  <div
                    id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                    class="js-filter py-5 border-t border-t-gray-300"
                    data-index="{{ forloop.index }}"
                    x-data="{ expanded: true }"
                  >
                    <button
                      type="button"
                      class="facets__summary w-full flex flex-row gap-3 justify-between"
                      aria-label="{{ filter.label | escape }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})"
                      x-on:click="expanded = !expanded"
                    >
                      <span>
                        {{- filter.label | escape }}
                        <span class="{% if filter.active_values.size == 0 %} hidden{% endif %}">
                          ({{ filter.active_values.size }})
                        </span>
                      </span>

                      <span
                        class="transition-transform rotate-180"
                        :class="{ 'rotate-180': expanded }"
                      >
                        {%- render 'icon-caret' -%}
                      </span>
                    </button>

                    <fieldset
                      id="Facet-{{ forloop.index }}-{{ section.id }}"
                      class="block"
                      x-show="expanded"
                      x-collapse
                    >
                      <legend class="sr-only">{{ filter.label | escape }}</legend>

                      <ul
                        class="flex {% if presentation == 'swatch' %} flex-row {% else %} flex-col {% endif %} gap-3 pt-5"
                        role="list"
                      >
                        {%- for value in filter.values -%}
                          {%- liquid
                            assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-' | append: forloop.index
                            assign is_disabled = false
                            if value.count == 0 and value.active == false
                              assign is_disabled = true
                            endif
                          -%}

                          <li>
                            {%- if presentation == 'swatch' -%}
                              {%- render 'swatch-input-for-filter',
                                id: input_id,
                                value: value,
                                product_form_id: 'FacetFiltersForm',
                                option_disabled: is_disabled
                              -%}
                            {%- else -%}
                              <label
                                for="{{ input_id }}"
                                class="flex flex-row items-center gap-4 cursor-pointer has-[:disabled]:cursor-default has-[:disabled]:opacity-40"
                              >
                                <input
                                  type="checkbox"
                                  name="{{ value.param_name }}"
                                  value="{{ value.value }}"
                                  id="{{ input_id }}"
                                  class="w-6 h-6 accent-black peer enabled:cursor-pointer {% if presentation == 'image' %}sr-only{% endif %}"
                                  {% if value.active %}
                                    checked
                                  {% endif %}
                                  {% if is_disabled %}
                                    disabled
                                  {% endif %}
                                >

                                {%- if presentation == 'image' -%}
                                  {%- assign image = value.image -%}
                                  <div class="w-6">
                                    <div class="pb-[100%] relative rounded-[5px] border border-gray-400 overflow-hidden">
                                      {%- if image -%}
                                        {%- render 'image-element',
                                          image: image,
                                          fixed_width: 300,
                                          class: 'absolute inset-0 w-full h-full object-center object-cover',
                                          alt: value.alt
                                        -%}
                                      {%- endif -%}
                                    </div>
                                  </div>
                                {%- endif -%}

                                <div class="peer-checked:font-medium peer-enabled:hover:underline">
                                  <span>{{- value.label | escape }}</span>
                                  <span>({{ value.count }})</span>
                                </div>
                              </label>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </fieldset>
                  </div>
                {%- when 'price_range' -%}
                  <details
                    id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                    class="facets__disclosure-vertical js-filter"
                    data-index="{{ forloop.index }}"
                    {% if forloop.index == 1 %}
                      open
                    {% endif %}
                  >
                    <summary class="facets__summary caption-large focus-offset">
                      <div class="flex flex-row gap-3 justify-between pt-5">
                        <span>{{ filter.label | escape }}</span>
                        {% render 'icon-caret' %}
                      </div>
                    </summary>

                    <div
                      id="Facet-{{ forloop.index }}-{{ section.id }}"
                      class="facets__display-vertical"
                    >
                      <div class="facets__header-vertical">
                        {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                        <span class="facets__selected">
                          {{- 'products.facets.max_price' | t: price: max_price_amount -}}
                        </span>
                      </div>

                      <price-range class="facets__price">
                        {% render 'price-facet', filter: filter, id_prefix: 'Filter-', filter_type: 'vertical' %}
                      </price-range>
                    </div>
                  </details>
              {%- endcase -%}
            {%- endfor -%}
          </div>

          <div class="border-t border-t-gray-400">FOOTER</div>
        </div>
      </div>

      {% if results.current_vendor or results.current_type %}
        <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
      {% endif %}
    </form>
  </facet-filters-form>

  <div
    class="product-count light medium-hide large-up-hide"
    role="status"
  >
    <h2 class="product-count__text text-body">
      <span id="ProductCount">
        {%- if results.results_count -%}
          {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
        {%- elsif results.products_count == results.all_products_count -%}
          {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
        {%- else -%}
          {{
            'products.facets.product_count'
            | t: product_count: results.products_count, count: results.all_products_count
          }}
        {%- endif -%}
      </span>
    </h2>
    {%- render 'loading-spinner' -%}
  </div>
</div>
