{%- assign autoplay = autoplay | default: true, allow_false: true -%}
{%- assign loop = loop | default: true, allow_false: true -%}
{%- assign muted = muted | default: true, allow_false: true -%}
{%- assign playsinline = playsinline | default: true, allow_false: true -%}
{%- assign controls = controls | default: false, allow_false: true -%}
{%- assign isFullWidth = isFullWidth | default: true, allow_false: true -%}
{%- assign videoClass = class | default: 'w-full' -%}
{%- assign wrapperClass = wrapperClass | default: 'relative' -%}
{%- assign placeholder = placeholder | default: blank -%}
{%- assign placeholderWidth = placeholderWidth | default: 1200 -%}
{%- assign togglePlay = togglePlay | default: true, allow_false: true -%}

<div
  class="{{ wrapperClass }}"
  x-data="
    {
      play: {{ autoplay }},
      isAutoplay: {{ autoplay }},
      wasReproduced: {{ autoplay }},
      togglePlay() {
        this.play = !this.play;
        if(!this.play) $refs.video.pause();
      },
      init() {
        $watch('play', (value) => {
          if (value) {
            $refs.video.play()
            this.wasReproduced = true;
          }
        });

        $refs.video.onplay = () => this.play = true;
        $refs.video.onpause = () => this.play = false;

        function forcePlayInTouch() {
          if ($refs.video.paused) $refs.video.play();
          window.removeEventListener('touchstart', forcePlayInTouch);
        }

        if (this.isAutoplay && $refs.video.paused) {
          window.addEventListener('touchstart', forcePlayInTouch);
        }
      }
    }
  "
>
  <video
    class="{{ videoClass }}"
    {% if autoplay %}
      autoplay
    {% endif %}
    {% if loop %}
      loop
    {% endif %}
    {% if muted %}
      muted
    {% endif %}
    {% if playsinline %}
      playsinline
    {% endif %}
    {% if controls %}
      controls
    {% endif %}
    poster="{{ video.preview_image | image_url: width: placeholderWidth }}"
    x-ref="video"
    {% if togglePlay %}
      @click="togglePlay()"
    {% endif %}
  >
    {%- for source in video.sources -%}
      <source src="{{ source.url }}" type="video/{{ source.format }}">
    {%- endfor -%}
    Your browser does not support the video tag.
  </video>

  {%- if placeholder != blank -%}
    <div class="absolute inset-0 w-full h-full" :class="{'hidden': wasReproduced}">
      {%- render 'image-element',
        image: placeholder,
        class: 'absolute inset-0 w-full h-full object-cover object-center',
        max_width: placeholderWidth
      -%}
    </div>
  {%- endif -%}

  {%- if togglePlay -%}
    <div
      @click="play = !play"
      x-show="!play"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 transform scale-100"
      x-transition:leave-end="opacity-0 transform scale-90"
      class="absolute inset-0 w-full h-full flex items-center justify-center"
    >
      <svg
        class="w-[60px] h-[60px] {% if isFullWidth %}md:w-20 md:h-20{% endif %} text-black cursor-pointer"
        fill="currentColor"
        viewBox="0 0 84 84"
      >
        <circle opacity="0.9" cx="42" cy="42" r="42" fill="white"></circle>
        <path d="M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z"></path>
      </svg>
    </div>
  {%- endif -%}
</div>
