<div class="py-10 max-w-[1080px] mx-auto c-container">
  <h2 class="h2 mb-[26px] md:mb-5">{{ section.settings.title }}</h2>
  <p class="body-3 mb-3 md:mb-5">
    {{ section.settings.subtitle }}
  </p>
  <a href="{{ section.settings.btn_link }}" class="button-primary mb-10 ">{{ section.settings.btn_text }}</a>
  <h2 class="h2 mb-[26px] md:mb-5">{{ section.settings.title_2 }}</h2>

  <div class="flex md-down:flex-col gap-5 md:justify-between mb-5 richtext_contact">
    <div class="body-3 md:w-full richtext rte">
      {{ section.settings.richtext_1 }}
    </div>
    <div class="body-3 md:w-full richtext rte">
      {{ section.settings.richtext_2 }}
    </div>
    {% comment %}
      <div class="body-3 md:w-full">
        <h6 class="mb-2 md:mb-3 font-[600]">ONLY</h6>
        <p>Av. 18 de Julio 1213</p>
        <p>Montevideo, Montevideo</p>
        <p>Uruguay</p>
      </div>
      <div class="body-3 md:w-full">
        <h6 class="mb-2 md:mb-3 font-[600]">contacto_only@bestseller.com</h6>
        <p>Lunes a Viernes de 10:00 a 19:00</p>
        <p>Sábados de 10:00 a 17:00</p>
      </div>
    {% endcomment %}
  </div>
  {% comment %}
    <form action="" class="flex flex-col">
      <label class="mb-1 font-[600]" for="name">Nombre</label>
      <input type="text" class="mb-3 border border-black min-h-[46px] md:min-h-[56px]">
      <label class="mb-1 font-[600]" for="email">Correo electrónico</label>
      <input type="text" class="mb-3 border border-black min-h-[46px] md:min-h-[56px]">
      <label class="mb-1 font-[600]" for="nro_pedido">Número de pedido (opcional)</label>
      <input type="text" class="mb-3 border border-black min-h-[46px] md:min-h-[56px]">
      <label class="mb-1 font-[600]" for="message">Mensaje</label>
      <input type="textarea" class="mb-5 border border-black min-h-[150px] md:min-h-[200px]">
      <button type="submit" class="button-primary self-start">ENVIAR</button>
    </form>
  {% endcomment %}
  {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
    {%- if form.posted_successfully? -%}
      <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
        {% render 'icon-success' %}
        ¡Gracias por contactarnos! Nos pondremos en contacto lo antes posible.
      </h2>
    {%- elsif form.errors -%}
      {% comment %}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {% endcomment %}
    {%- endif -%}
    <div class="contact__fields">
      <div class="field">
        <input
          class="field__input"
          autocomplete="name"
          type="text"
          id="ContactForm-name"
          name="contact[{{ 'templates.contact.form.name' | t }}]"
          value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          placeholder="Nombre"
          aria-required="true"
          required
        >
        <label class="field__label mb-1 font-[600] body-3 text-black tracking-normal" for="ContactForm-name"
          ><span class="text-[#FF0000]" aria-hidden="true">* </span>Nombre</label
        >
      </div>
      <div class="field field--with-error">
        <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="field__input"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="Correo electrónico"
          required
        >
        <label class="field__label mb-1 font-[600] body-3 text-black tracking-normal" for="ContactForm-email">
          <span class="text-[#FF0000]" aria-hidden="true">* </span>Correo electrónico
        </label>
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              {%- render 'icon-error' -%}
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </span>
          </small>
        {%- endif -%}
      </div>
    </div>
    <div class="field">
      <input
        type="tel"
        id="ContactForm-phone"
        class="field__input"
        autocomplete="tel"
        name="contact[{{ 'templates.contact.form.phone' | t }}]"
        pattern="[0-9\-]*"
        value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
        placeholder="Número de pedido (opcional)"
      >
      <label class="field__label mb-1 font-[600] body-3 text-black tracking-normal" for="ContactForm-phone"
        >Número de pedido (opcional)</label
      >
    </div>
    <div class="field">
      <textarea
        rows="10"
        id="ContactForm-body"
        class="text-area field__input"
        name="contact[{{ 'templates.contact.form.comment' | t }}]"
        placeholder="{{ 'templates.contact.form.comment' | t }}"
        aria-required="true"
        required
      >
        {{- form.body -}}
      </textarea>
      <label class="form__label field__label mb-1 font-[600] body-3 text-black tracking-normal" for="ContactForm-body">
        <span class="text-[#FF0000]" aria-hidden="true">* </span>Mensaje
      </label>
    </div>
    <div class="contact__button">
      <button type="submit" class="mt-5 button-primary">ENVIAR</button>
    </div>
  {%- endform -%}
</div>

<style>
  #shopify-section-{{ section.id }} .richtext_contact h6{
    margin-bottom: 8px
  }
  @media screen and (min-width: 768px){
    #shopify-section-{{ section.id }} .richtext_contact h6{
      margin-bottom: 12px
    }
  }
  #shopify-section-{{ section.id }} {
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 767px){
    #shopify-section-{{ section.id }} {
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Contacto",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "CONSULTAS GENERALES"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtítulo",
      "default": "¿Tienes alguna pregunta o necesitas ayuda? Muchas preguntas comunes han sido respondidas en nuestras preguntas frecuentes."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Texto del botón",
      "default": "PREGUNTAS FRECUENTES"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Enlace del botón",
      "default": "/"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Título 2",
      "default": "SERVICIO AL CLIENTE"
    },

    {
      "type": "richtext",
      "id": "richtext_1",
      "default": "<h6>ONLY</h6><p>Av. 18 de Julio 1213</p><p>Montevideo, Montevideo</p><p>Uruguay</p>",
      "label": "Texto Contacto 1"
    },
    {
      "type": "richtext",
      "id": "richtext_2",
      "default": "<h6>contacto_only@bestseller.com</h6><p>Lunes a Viernes de 10:00 a 19:00</p><p>Sábados de 10:00 a 17:00</p>",
      "label": "Texto Contacto 2"
    },
    {
      "type": "header",
      "content": "Padding de la sección"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding inferior",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding inferior en dispositivos móviles",
      "default": 0
    }
  ],
  "presets": [
    {
      "category": "Contacto",
      "name": "Contacto"
    }
  ]
}
{% endschema %}
